<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/parkir_unpas</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<mapping class="model.Transaksi" resource="model/Transaksi.hbm.xml" />
		<mapping class="model.Operator" resource="model/Operator.hbm.xml" />
		<mapping class="model.Anggota" resource="model/Anggota.hbm.xml"/>
		<mapping class="model.Opsi" resource="model/Opsi.hbm.xml"/>
	</session-factory>
</hibernate-configuration>
